@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Writer blogs</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Create Day</th>
        <th>Category</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.BlogID</th>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BLogCreateDate).ToString("dd-MM-yyyy"))</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.BlogStatus</td>
            <td><a href="/Blog/DeleteBlog/@item.BlogID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Blog/EditBlog/@item.BlogID" class="btn btn-warning">Edit</a></td>
        </tr>
    }
</table>
<a href="/Blog/BlogAdd/" class="btn btn-primary">Add New Blog</a>